.App {
    text-align: center;
}

.form {
    width: 30%;
    height: 34px;
}

.btn {
    width: 4%;
    height: 35px;
    background-color: #279168;
    border-radius: 5px;
    color: white;
}

.listData {
    background-color: #198d9c;
    border-radius: 10px;
    height: 7%;
    width: 30%;
    margin-left: 35%;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


.list_btn {
    height: 30px;
    background-color: #b31313;
    border-radius: 5px;
    color: white;
    margin-left: 34%;
}
